<div class="listbox col-xs-10 col-xs-offset-1">
  <div>
    <h4><% if current_user.admin %>
      <span class="pull-right" roll="button"><%= link_to "add category", new_category_path %></span>
    <% end %></h4>
  </div>
  <br />
  <br />

<!-- Accordion feature-->

<div class="panel-group custom" id="accordion" role="tablist" aria-multiselectable="true">
  <% @category.each do |category| %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%=category.id%>">
      <h3 class="panel-title">
          <%= link_to category.name, "#category#{category.id}", role: :button,
          data: { parent: '#accordion', toggle: :collapse },
          aria: { controls: "icon-indicator", expanded: true } %>

          <% if current_user.admin %>
            <!-- button to trigger new section modal -->
            <span class="pull-right new-section-button"><a role="button" data-toggle="modal" data-target="#newSectionModal" data-section-url="<%= category_sections_path(category) %>">add section</a></span>
          <% end %>
      </h3>
    </div>
    <div id="category<%=category.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=category.id%>">
        <% category.sections.each do |section| %>
          <div class="nested-panel-heading" role="tab" id="heading<%=category.id%>">
            <h4 class="panel-title">
              <%= link_to section.name, "#section#{section.id}", role: :button,
              data: { parent: '#accordion', toggle: :collapse },
              aria: { controls: "icon-indicator", expanded: true } %>
              <span class="pull-right"><%= link_to "add post", new_section_post_path(section) %></span>
            </h4>
          </div>
          <% section.posts.each do |post| %>
            <div class="list-group">
              <p> <%= link_to post.title, post_path(post) %> </p>
              <p class="post-description"> Posted: <%= time_ago_in_words(post.created_at) %> ago </p>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
  <% end %>
</div>
<!-- Accordion feature-->

<script>
  $(function() {
    $('.new-section-button').click(function( event ) {
      var postSectionURL = $(event.target).data('section-url');
      $('#newSectionForm').attr('action', postSectionURL);
    });
  });
</script>

<!--Add Section modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Section</h4>
      </div>
      <%= simple_form_for @section, url: "#", html: {id: 'newSectionForm'} do |f| %>
        <div class="modal-body">
           <%= f.input :name %>
           <%= f.input :description %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Add a section", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- end Add Section modal -->


</div>
<br class="clr" />
